[submodule "3rdparty"]
	path = 3rdparty
	url = https://github.com/nextcloud/3rdparty.git
[submodule "apps/photos"]
	path = apps/photos
	url = https://github.com/nextcloud/photos.git
[submodule "apps/viewer"]
	path = apps/viewer
	url = https://github.com/nextcloud/viewer
[submodule "apps/previewgenerator"]
	path = apps/previewgenerator
	url = https://github.com/nextcloud/previewgenerator.git
